<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Portfolio</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="stylesheets/portfolio.css">

    <script src="scripts/portfolio.js"></script>
</head>

<body>
    <!--Page Content -->
    <div class="container">
        <!--Page Header-->
        <div class="page-header">
            <div class="row">
                <div class="image-badge col-md-4 col-sm-4 col-xs-12">
                    <img class="media-object" width="150px" height="150px" src="images/udacity_logo.svg"
                         alt="Udacity Logo">
                </div>

                <div class="name-badge col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-2 col-xs-12">
                    <h1>AMA LIYANAGE</h1>
                    <h2>
                        <small>FRONT END DEVELOPER</small>
                    </h2>
                    <article>

                        <div class="social-links">
                            <a href="https://twitter.com/amailk" target="_blank">
                                <div class="social">
                                    <i class="fa fa-twitter faa-burst animated-hover"></i>
                                </div>
                            </a>

                            <a href="https://www.linkedin.com/in/ama-liyanage-5b31a2104?trk=hp-identity-name" target="_blank">
                                <div class="social2">
                                    <i class="fa fa-linkedin faa-burst animated-hover"></i>
                                </div>
                             </a>
                            <a href="https://github.com/amailk" target="_blank">
                                <div class="social2">
                                    <i class="fa fa-github faa-burst animated-hover"></i>
                                </div>
                            </a>
                        </div>
                    </article>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <img src="images/header-bw.jpg" id="header" class="img-responsive" alt="main image">
            </div>
        </div>

        <div class="container-fluid">
            <div class="sub-work row">
                <h2>Featured Work</h2>
            </div>
        </div>
        <!--Projects Row-->
        <div class="project row">
            <div class="project-item col-xs-12 col-sm-6 col-md-4">
                <img class="img-responsive" srcset="" src="images/portkey.jpg" alt="Portkey Application Image">
                <h3>
                    <a href="https://github.com/amailk/PortKey">Portkey</a>
                </h3>
                <p>Travel tracking application at its early stages. In the future I plan to add features to pin visited
                    cities and countries on a map as well as share your food, stays and visited places and
                    adventures.</p>
            </div>

            <div class="project-item col-xs-12 col-sm-6 col-md-4">
                    <img class="img-responsive" src="images/portfolio.jpg" alt="Image for my portfolio site">
                <h3>
                    <a href="https://github.com/amailk/Portfolio-Site">Portfolio Site</a>
                </h3>
                <p>Portfolio site containing projects I have created through my Front End Development journey.</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="project-item col-xs-12 col-sm-6 col-md-4">
                <img class="img-responsive" src="images/project3.jpg" alt="Project 3 Application Image">
                <h3>
                    <a href="#">Project 3</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque
                    urna varius vitae.</p>
            </div>

            <div class="clearfix visible-md-block visible-lg-block"></div>

            <div class="project-item col-xs-12 col-sm-6 col-md-4">
                <img class="img-responsive" src="images/project4.jpg" alt="project 4 application image">
                <h3>
                    <a href="#">Project 4</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque
                    urna varius vitae.</p>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Ama Liyanage 2016</p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>
